html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}
body {
  font-family: "Poppins" !important;
  text-transform: capitalize;
  color: #000;
}
.navBar {
  display: flex;
  padding: 15px 100px;
  justify-content: space-between;
  background: #edf4ff;
}
.logoWrap {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.72px;
  display: flex;
  align-items: center;
}
.logo {
  width: auto;
  margin-right: 7px;
}
.navBar button {
  height: 50px !important;
  width: 220px;
  background: #5186ed !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 38px;
  font-size: 24px !important;
}
.centerWrap {
  max-width: 1344px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 40px auto 0;
  width: 100%;
  text-align: center;
}
.ProgressBar {
  display: flex;
  align-items: center;
}
.wrapBar {
  border-radius: 13px;
  background: #e6f0ff;
  height: 20px;
  width: 100%;
}
.percent {
  background: #acc8ff;
  border-radius: 13px;
  height: 20px;
}
.percentWord {
  width: 130px;
  line-height: 48px;
  text-align: right;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.9px;
}
.scriberTitle {
  color: #000;

  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.7%; /* 63.48px */
  letter-spacing: -1.2px;
  margin-bottom: 6px;
}
.scriberTitle1 {
  color: #808080;

  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.7%; /* 38.088px */
  letter-spacing: -0.72px;
  margin-bottom: 37px;
}

.ethscribe-container {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  width: 676px;
  margin: 0 auto;
}

.ethscribe-input,
.ethscribe-encoded-text,
.ethscribe-hex {
  font-size: 24px;
  font-family: Poppins;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #b9ceff;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
}

.ethscribe-button {
  background-color: #5186ed;
  padding: 10px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #fff;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.7%; /* 38.088px */
  letter-spacing: -0.72px;
}

.ethscribe-message {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.ethscribe-message.success {
  color: green;
}

.ethscribe-message.error {
  color: red;
}

@media screen and (max-width: 768px) {
  .ethscribe-input,
  .ethscribe-encoded-text,
  .ethscribe-hex {
    font-size: 14px;
    height: 38px;
  }
  .ethscribe-button {
    font-size: 14px;
  }
  .navBar {
    padding: 15px 16px;
  }
  .logoWrap {
    font-size: 20px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .navBar button {
    width: 118px;
    height: 32px !important;
    font-size: 14px !important;
    border-radius: 6px !important;
  }
  .wrapBar {
    height: 12px;
  }

  .percent {
    height: 12px;
  }
  .percentWord {
    font-size: 14px;
    width: 62px;
  }
  .scriberTitle {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .scriberTitle1 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .ethscribe-container {
    width: 350px;
  }
  .ethscribe-button {
    margin-bottom: 16px;
    width: 350px;
    height: 38px;
    padding: 0 9px;
  }
  .ethscribe-message {
    margin-bottom: 16px;
  }
  .centerWrap {
    padding: 0;
  }
  .ProgressBar {
    width: 350px;
    margin: 0 auto;
  }
}
