.commonTitle {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.7%; /* 47.61px */
  letter-spacing: -0.9px;
  margin-bottom: 40px;
}
.inputWrap {
  position: relative;
}
.input {
  width: 100%;
  height: 86px;
  background: #fff;
  color: #000;
  padding: 0 50px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.72px;
  border-radius: 13px;
  border: 4px solid #b9ceff;
  margin-bottom: 50px;
}
.searchBtn {
  width: 98px;
  height: 62px;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 14px;
  background: #5186ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 30px;
  width: 30px;
}
.tableWrap {
  border-radius: 29px;
  background: #e1ecff;
  padding: 30px 10px;
  overflow: auto;
}
.th {
  font-size: 24px;
  white-space: nowrap;
}
.text {
  color: #000;
  font-size: 24px;
}
.link {
  color: #5186ed;
  cursor: pointer;
  width: 308px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;

  text-overflow: ellipsis;
}
.loading {
  padding: 100px 0 100px;
}
@media (max-width: 768px) {
  .commonTitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .inputWrap {
    width: 350px;
    margin: 0 auto;
  }
  .input {
    height: 48px;
    padding: 13px 20px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .searchBtn {
    top: 6px;
    right: 6px;
    width: 64px;
    height: 36px;
    border-radius: 8px;
  }
  .img {
    width: 18px;
    height: 18px;
  }
  .tableWrap {
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .th {
    font-size: 14px;
  }
  .text {
    font-size: 14px;
  }
  .link {
    width: 180px;
  }
}
